.settingpage-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.settings-container {
  display: flex;
  gap: 20px;
  margin: 4px 28px 28px 28px;
  height: 100%;
}

.settings-leftside {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  gap: 20px;
}

.settings-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

@media (max-width: 648px) {
  .settings-container {
    margin: 4px 12px 12px 12px;
  }

  .settings-right {
    gap: 12px;
  }
}