.assistant-container {
  display: flex;
  position: relative;
  border: none;
}

/* same code as above but without any of the hover css attached. Don't want any of the hover effects to be used on the active assistant */
.active-assistant-container {
  display: flex;
  position: relative;
  border: none;
}

.assistant-button {
  display: flex;
  padding: 12px 20px 12px 12px;
  border-radius: 32px;
  align-items: center;
  border: none;
  width: 100%;
  color: var(--text-color-dark);
  background-color: var(--section-bg);
  cursor: pointer;
  z-index: 1;
}

.assistant-container:hover .assistant-button {
  color: white;
}

.selected-assistant-button {
  color: var(--text-color-inverted);
  background-color: white;
}

.assistant-image {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid var(--text-color-inverted);
  border-radius: 50%;
}

.assistant-title-container {
  display: flex;
  max-width: calc(100% - 60px);
  padding-left: 12px;
}

.assistant-title {
  font-size: var(--font-size-h3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--font);
  font-weight: 600;
}

.extra-options {
  display: flex;
  position: absolute;
  font-size: var(--font-size-h2);
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 10;
}

.hover-assistant-ellipsis {
  color: var(--text-color-inverted);
  display: none;
}

.assistant-container:hover .hover-assistant-ellipsis {
  color: white;
  display: block;
}

.assistant-container:hover .assistant-button {
  background-color: var(--input-bg-dark);
}

@media (max-width: 640px) {

  .assistant-title {
    font-size: var(--font-size-large);
  }


  .extra-options {
    font-size: var(--font-size-large);
  }

}